@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Inter:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Inter:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Inter:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*! header-start */

.container {
  width: 100%;
  height: 1055px;
  background-image: url(../images/BG.png);
}

.logo {
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Comfortaa;
  font-size: 36px;
  font-weight: 700;
  margin-left: 160px;
}

header {
  display: flex;
  justify-content: space-evenly;
  padding-top: 65px;
}

/* ? селектор потомка */

nav span {
  font-family: Comfortaa;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 376px;
  align-items: center;
}

#nav_btn_login {
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  background: none;
  border: none;
  position: relative;
  top: 7px;
  margin-right: 55px;
}

#nav_btn_sign_up {
  width: 132px;
  height: 36px;
  color: #bb6df3;
  font-size: 14px;
  font-weight: 500px;
  border-radius: 18px;
  border: none;
  position: relative;
  top: 7px;
}

/*! header-finish */

/*? SECTION-1START */

.section-1 {
  display: flex;
  padding: 305px;
}

.section-1left h1 {
  font-family: Roboto;
  font-size: 72px;
  font-weight: 900px;
  color: #3b668d;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-1left span {
  color: #3b668d;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500px;
  text-transform: uppercase;
  letter-spacing: 22px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-1left hr {
  width: 506px;
  height: 2px;
  background-color: #3b668d;
  border: none;
  margin-top: 32px;
  margin-bottom: 40px;
}

.section-1left h3 {
  color: #3b668d;
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500px;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-1left p {
  color: #2b4964;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 496px;
  letter-spacing: 3px;
  line-height: 156%;
  margin-top: 20px;
}

.section-1left button {
  width: 304px;
  height: 75px;
  border: none;
  border-radius: 45px;
  color: white;
  text-align: center;
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 700;
  box-shadow: 0px 6px 8px;
  background: linear-gradient(
    90deg,
    rgb(67, 121, 229) 0%,
    rgb(231, 127, 231) 100%
  );
  margin-top: 20px;
}

.section-1right img {
  width: 600px;
}

/*? SECTION-1FINISH */

/*! SECTION2 START  */

.section-2 {
  display: flex;
  justify-content: space-between;
}

.section-2left {
  width: 65%;
  background-image: url(../images/shitty.png);
  /* background-image: url(../images/section2leftBG.png); */
  height: 100vh;
}

.section-2right-blocks-icon {
  background-image: url(../images/section-2right-bg.png);
  width: 93px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2right-blocks-discription span {
  color: #3b668d;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 400px;
  text-transform: uppercase;
}

.section-2right-blocks-discription p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400px;
  color: #2b4964;
  line-height: 150%;
}

.section-2right-blocks {
  display: flex;
  justify-content: space-between;
  width: 506px;
  height: 217px;
}

.section-2right-blocks-discription {
  width: 400px;
}

.section-2right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#block4 {
  margin-top: 40px;
}

#block3 {
  margin-top: 40px;
}

/*! SECTION 2 FINISH */

/* ecmь 4 вида верстки 1) фиксированная(только px)
 2)резиновая верстка (только % и vh vw)
3) адаптивная верстка (@media and all)
 4) Отзывчиывя верстка (резиновая верстка и адаптивная верстка ) */

@media all and (max-width: 1024px) {
  .logo {
    margin-left: 95px;
  }
  .section-1 {
    padding: 100px;
    flex-direction: column;
  }
  .section-1right {
    order: -1;
    display: flex;
    justify-content: center;
  }
  .section-1right img {
    width: 60%;
  }
  .section-1left h1 {
    margin-top: 45px;
    font-size: 55px;
  }
  .section-1left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-1left br {
    display: none;
  }
  .section-1left span {
    margin-top: 20px;
  }
  /* .section-2left img {
    display: none;
  } */
  .section-2left {
    display: none;
  }
  .section-2right-blocks-discription span {
    font-size: 15px;
  }
  .section-2right-blocks-discription-icon {
    width: 85px;
    height: 88px;
  }
  .section-2right-blocks {
    display: flex;
    justify-content: space-evenly;
    height: 170px;
  }
}

@media all and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  .logo {
    margin: 0;
    font-size: 55px;
  }
  nav {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .section-1right {
    background-image: url(../images/section2leftBG.png);
    background-size: 65% 108%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .section-1right img {
    margin-top: 20px;
  }
  .section-1left h1 {
    margin-top: 50px;
    font-size: 40px;
  }
  .section-1left span {
    font-size: 20px;
  }
  .section-1left button {
    font-size: 18px;
    width: 250px;
  }
}
